.projects {
  padding: 10px 50px;
  h2 {
    width: fit-content;
    &:after {
      content: "";
      display: block;
      width: 90px;
      height: 4px;
      background: #ff5e5e;
      margin: 0 auto;
      margin-top: 15px;
      border-radius: 3px;
    }
  }
  .grid {
    margin: 30px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    .box {
      height: 300px;
      box-shadow: 0px 0px 10px #ff5e5e4d;
      border-radius: 10px;
    }
  }
}
.contact-us {
    h2 {
      padding: 10px 50px;
    width: fit-content;
    &:after {
      content: "";
      display: block;
      width: 90px;
      height: 4px;
      background: #ff5e5e;
      margin: 0 auto;
      margin-top: 15px;
      border-radius: 3px;
    }
  }
  .infoHolder {
    width: 100vw;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    div{
        height: 300px;
        width: 600px;
        background: #ffffff11;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        border: 1px solid black;
    }
  }
}
footer{
  background:#687cff;
  padding: 10px;
  p{
    text-align: center;
  }
}