*,
html {
  padding: 0;
  margin: 0;
  color: #fff;
  font-family: "Urbanist", sans-serif;
}
::-webkit-scrollbar {
  display: none !important;
  overflow: hidden;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 100px;
  scroll-behavior: smooth;
}
body {
  background: #000e19;
}
nav {
  .nav-item {
    margin-left: 20px;
    .nav-link {
      color: #fff !important;
    }
  }
  a {
    display: block;
    position: relative;
    color: inherit;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 2.5em;
    font-weight: 300;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: plum;
      border-radius: 0.1em;
      opacity: 0;
      transition: opacity 0.5s, transform 0.5s;
    }
    &:after {
      transform: scale(0);
      transform-origin: center;
    }
    &:hover:after {
      opacity: 1;
      transform: scale(1);
      z-index: -1;
    }
  }
}
.aboutUs {
  .box {
    height: 300px;
    width: 200px;
    background: #dc3545;
    position: relative;
    z-index: 1;
  }
  .box1 {
    height: 300px;
    width: 200px;
    background: #dc3545;
    position: relative;
    z-index: 1;
    transform: rotate(40deg);
    bottom: -10;
    border-radius: 10px 40%;
    right: -10%;
  }
  .box2 {
    height: 300px;
    width: 200px;
    background: #dc3545;
    position: absolute;
    z-index: 1;
    transform: rotate(110deg);
    border-radius: 40% 10px;
    bottom: -0%;
    right: -100;
  }
  img {
    position: absolute;
    z-index: 99;
  }
}
.contactUs {
  input {
    border: none;
    border-bottom: 2px solid black !important;
    width: 350px !important;
    &:focus {
      outline: none;
    }
  }
  ::placeholder {
    color: #fff !important;
  }
}
.projects,
.certificates {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .box {
      background: #000;
      border: 2px dashed #dc3545;
      border-radius: 10px;
      overflow: hidden;
      padding: 5px;
      &:hover img {
        transform: scale(1.04);
      }
      img {
        display: block;
        object-fit: cover;
        object-position: center;
        border-radius: 10px;
        transition: 0.5s ease-in-out;
      }
    }
  }
}

.services {
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    .box{
      text-align: center;
    }
  }
}
